include *.txt
include *.md
include *.py
recursive-include ./prediction_model/*
include ./prediction_model/datasets/*.csv
include ./prediction_model/trained_models/*.pkl
include ./tests/*
include ./prediction_model/VERSION

recursive-exclude * __pycache__
recursive-exclude * *.py[co]